@charset "UTF-8";
@font-face {
  font-family: 'KeplerStd';
  src: url("../../fonts/KeplerStd.eot");
  src: url("../../fonts/KeplerStd.eot?#iefix") format("embedded-opentype"), url("../../fonts/KeplerStd.ttf") format("truetype"), url("../../fonts/KeplerStd.svg#KeplerStd") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PrimeScript';
  src: url("../../fonts/PrimeScript.eot");
  src: url("../../fonts/PrimeScript.eot?#iefix") format("embedded-opentype"), url("../../fonts/PrimeScript.ttf") format("truetype"), url("../../fonts/PrimeScript.svg#PrimeScript") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'LustScript';
  src: url("../../fonts/LustScript.eot");
  src: url("../../fonts/LustScript.eot?#iefix") format("embedded-opentype"), url("../../fonts/LustScript.ttf") format("truetype"), url("../../fonts/LustScript.svg#LustScript") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("../../fonts/ProximaNova.eot");
  src: url("../../fonts/ProximaNova.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova.ttf") format("truetype"), url("../../fonts/ProximaNova.svg#ProximaNova") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Baltimore';
  /* Имя шрифта */
  src: url("../../fonts/baltimore-nouveau.ttf");
  /* Путь к файлу со шрифтом */
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

ol, ul {
  list-style: none;
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a, a:hover {
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #ecf0f1;
}

.overflow {
  overflow: hidden;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.none {
  display: none;
}

.grid {
  display: grid;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

header {
  background: #fff;
}

ul.desktop-menu {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul.desktop-menu li a {
  display: block;
  padding: 30px 0;
  text-transform: uppercase;
  font-family: "ProximaNova", sans-serif;
  color: #454851;
}

ul.desktop-menu li a.logotip {
  padding: 23px 0;
  font-family: "LustScript" !important;
  text-transform: capitalize !important;
  font-size: 36px !important;
}

ul.mobile-menu {
  position: relative;
  background: #85c8dc;
}

input#nav {
  display: none;
}

input#nav:checked ~ nav {
  left: 0;
}

a {
  text-decoration: none;
}

label.menuFive {
  margin: 3% !important;
}

nav {
  width: 70%;
  position: absolute;
  left: -100%;
  background: #85c8dc;
  -webkit-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}

nav a {
  display: block;
  padding: 30px 0;
  text-transform: uppercase;
  font-family: "ProximaNova", sans-serif;
  color: #454851;
  text-align: center;
  -webkit-transition: background 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}

nav a.logotip {
  padding: 23px 0;
  font-family: "LustScript" !important;
  text-transform: capitalize !important;
  font-size: 36px !important;
}

nav a:hover {
  background: #2da3e6;
}

/* menuFive */
.menuFive {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.menuFive span {
  background-color: #454851;
  position: absolute;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -o-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
  -webkit-transition-duration: 500ms;
       -o-transition-duration: 500ms;
          transition-duration: 500ms;
}

.menuFive span:nth-child(1) {
  top: 0px;
  left: 0px;
}

.menuFive span:nth-child(2) {
  top: 13px;
  left: 0px;
}

.menuFive span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}

.menuFive:not(.clickMenuFive):hover span:nth-child(1) {
  -webkit-transform: rotate(-3deg) scaleY(1.1);
      -ms-transform: rotate(-3deg) scaleY(1.1);
          transform: rotate(-3deg) scaleY(1.1);
}

.menuFive:not(.clickMenuFive):hover span:nth-child(2) {
  -webkit-transform: rotate(3deg) scaleY(1.1);
      -ms-transform: rotate(3deg) scaleY(1.1);
          transform: rotate(3deg) scaleY(1.1);
}

.menuFive:not(.clickMenuFive):hover span:nth-child(3) {
  -webkit-transform: rotate(-4deg) scaleY(1.1);
      -ms-transform: rotate(-4deg) scaleY(1.1);
          transform: rotate(-4deg) scaleY(1.1);
}

.clickMenuFive span:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 13px;
}

.clickMenuFive span:nth-child(2) {
  -webkit-transform: scale(0.1);
      -ms-transform: scale(0.1);
          transform: scale(0.1);
}

.clickMenuFive span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 13px;
}

section.enjoy-freedom-land {
  display: block;
  padding: 324px 0;
  background: url(../../img/header.jpg) no-repeat 0 0/100% 125%;
}

section.enjoy-freedom-land h1 {
  text-transform: uppercase;
  text-align: center;
  font: bold 60px "ProximaNova", sans-serif;
  color: #fff;
}

div.form-wrapp {
  height: 160px;
  margin-top: -80px;
  padding-top: 40px;
  background: #fff;
}

form.form-vacations {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

form.form-vacations p {
  -webkit-flex-basis: 190px;
      -ms-flex-preferred-size: 190px;
          flex-basis: 190px;
  margin-right: 20px;
  padding: 15px 0;
  border-bottom: 1px solid #999999;
}

form.form-vacations p:focus-within {
  border: 1px solid #000;
}

form.form-vacations p:last-child {
  margin-right: 30px;
}

form.form-vacations p select {
  width: 100%;
  outline: none;
  border: none;
  background: url("../../img/select-bg-disable.jpg") no-repeat right center #fff;
  color: #999999;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

form.form-vacations p select:focus {
  background: url("../../img/select-bg-enable.jpg") no-repeat right center;
  color: #454851;
}

form.form-vacations button {
  padding: 14px;
  color: #fff;
  border: none;
  font-size: 30px;
  cursor: pointer;
  background: #f31131;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

form.form-vacations button:hover {
  background: #d98894;
}

section.header-vacations {
  margin-top: 100px;
}

section.header-vacations h1 {
  display: block;
  text-align: center;
  font: bold 48px "KeplerStd", sans-serif;
}

section.header-vacations ul.logo-icons {
  margin: 31px 0;
  display: block;
  text-align: center;
}

section.header-vacations ul.logo-icons li {
  display: inline-block;
  margin-right: 9px;
  width: 7px;
  height: 7px;
  border: 2px solid #6f7474;
  -webkit-transform: rotate(44deg);
      -ms-transform: rotate(44deg);
          transform: rotate(44deg);
}

section.header-vacations ul.logo-icons li.black-icon {
  width: 10px;
  height: 10px;
  background: #171d1c;
  border: none;
}

section.header-vacations ul.logo-icons li:last-child {
  margin-right: 0;
}

ul.latest-vacation-img {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

ul.latest-vacation-img li {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  height: 300px;
  margin-right: 30px;
  background: url("../../img/latest-vacation-img-sprites.jpg") no-repeat 0 0;
}

ul.latest-vacation-img li:last-child {
  margin-right: 0;
}

ul.latest-vacation-img li.groups {
  background-position: -369px 0;
}

ul.latest-vacation-img li.city {
  background-position: -739px 0;
}

ul.latest-vacation-img li div.descr-img {
  width: 300px;
  margin-bottom: 30px;
  padding: 15px;
  background: #fff;
  -webkit-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

ul.latest-vacation-img li div.descr-img:hover {
  background: #bdebf6;
}

ul.latest-vacation-img li div.descr-img h2 {
  display: block;
  padding: 24px 0 22px 0;
  text-transform: capitalize;
  text-align: center;
  font: bold 24px "KeplerStd", sans-serif;
  color: #454851;
  border: 1px solid #ccc;
}

ul.holiday-locations {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

ul.holiday-locations li {
  position: relative;
  margin: 0 30px 30px 0;
  width: 555px;
  background: #fff;
}

ul.holiday-locations li:nth-child(2), ul.holiday-locations li:nth-child(4) {
  margin-right: 0;
}

ul.holiday-locations li:nth-child(3), ul.holiday-locations li:nth-child(4) {
  margin-bottom: 0;
}

ul.holiday-locations li div.holiday-img {
  width: 50%;
}

ul.holiday-locations li div.holiday-img form {
  height: 300px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul.holiday-locations li div.holiday-img form input {
  display: none;
}

ul.holiday-locations li div.holiday-img form input:checked + i {
  opacity: 1;
}

ul.holiday-locations li div.holiday-img form i {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 276px;
  height: 232px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  background: url(../../img/locations-big-sprites.jpg) no-repeat 0 0;
}

ul.holiday-locations li div.holiday-img form i.img-loc2 {
  background-position: -277px 0;
}

ul.holiday-locations li div.holiday-img form i.img-loc3 {
  background-position: -555px 0;
}

ul.holiday-locations li div.holiday-img form i.img-loc4 {
  background-position: -832px 0;
}

ul.holiday-locations li div.holiday-img form i.img-loc5 {
  background-position: -1109px 0;
}

ul.holiday-locations li div.holiday-img form i.img-loc6 {
  background-position: -1386px 0;
}

ul.holiday-locations li div.holiday-img form div.labels-for-img {
  width: 100%;
  height: 68px;
}

ul.holiday-locations li div.holiday-img form div.labels-for-img label.button-img {
  width: 92px;
  height: 68px;
  cursor: pointer;
  background: url(../../img/locations-sprites.jpg) no-repeat 0 0;
}

ul.holiday-locations li div.holiday-img form div.labels-for-img label.button-img.label1 {
  background-position: -188px 0;
}

ul.holiday-locations li div.holiday-img form div.labels-for-img label.button-img.label2 {
  background-position: -282px 0;
}

ul.holiday-locations li div.descr-hotel {
  position: relative;
  padding: 25px 21px 0 20px;
}

ul.holiday-locations li div.descr-hotel h1 {
  font: bold 30px "KeplerStd";
  color: #171d1c;
}

ul.holiday-locations li div.descr-hotel p.hotel-thalie {
  margin: 18px 0 22px 0;
  font-family: "ProximaNova";
  color: #454851;
}

ul.holiday-locations li div.descr-hotel div.descr-hotel-icons {
  cursor: pointer;
}

ul.holiday-locations li div.descr-hotel div.descr-hotel-icons i.bed-icon {
  width: 33px;
  height: 16px;
  background: url(../../img/icons-sprites.jpg) no-repeat 0 0;
}

ul.holiday-locations li div.descr-hotel div.descr-hotel-icons i.bath-icon {
  width: 24px;
  height: 16px;
  background: url(../../img/icons-sprites.jpg) no-repeat -33px 0;
}

ul.holiday-locations li div.descr-hotel div.descr-hotel-icons i.beachfront-icon {
  width: 18px;
  height: 17px;
  background: url(../../img/icons-sprites.jpg) no-repeat -74px 0;
}

ul.holiday-locations li div.descr-hotel div.descr-hotel-icons i.beachfront-icon:hover + div.popup {
  opacity: 1;
}

ul.holiday-locations li div.descr-hotel div.descr-hotel-icons i.pool-icon {
  width: 24px;
  height: 22px;
  margin-left: 21px;
  background: url(../../img/icons-sprites.jpg) no-repeat -95px 0;
}

ul.holiday-locations li div.descr-hotel div.descr-hotel-icons b {
  font-family: "ProximaNova";
  color: #454851;
  margin: 0 21px 0 10px;
}

ul.holiday-locations li div.descr-hotel div.descr-hotel-icons div.popup {
  position: absolute;
  top: 56%;
  left: 43%;
  padding: 5px 9px 5px 4px;
  background: #454851;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

ul.holiday-locations li div.descr-hotel div.descr-hotel-icons div.popup#kapalua {
  top: 50%;
}

ul.holiday-locations li div.descr-hotel div.descr-hotel-icons div.popup p.beachfront-popup {
  position: relative;
  font-size: 14px;
  color: #fff;
}

ul.holiday-locations li div.descr-hotel div.descr-hotel-icons div.popup p.beachfront-popup i.popup-icon {
  position: absolute;
  left: 50%;
  bottom: -10px;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 5px solid #454851;
}

ul.holiday-locations li div.descr-hotel a.descr-hotel-button {
  display: inline-block;
  margin-top: 10px;
  padding: 15px 19px;
  text-transform: uppercase;
  font: 14px "ProximaNova", sans-serif;
  color: #fff;
  background: #f31131;
  -webkit-border-radius: 26px;
          border-radius: 26px;
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

ul.holiday-locations li div.descr-hotel a.descr-hotel-button:hover {
  background: #d98894;
}

ul.we-different {
  padding-bottom: 100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

ul.we-different li {
  -webkit-flex-basis: 360px;
      -ms-flex-preferred-size: 360px;
          flex-basis: 360px;
}

ul.we-different li div.icon-circle div.main-circle-icon {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background: url(../../img/icons-sprites.jpg) no-repeat -132px 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

ul.we-different li div.icon-circle div.main-circle-icon.icon-circle2 {
  background-position: -233px 0;
}

ul.we-different li div.icon-circle div.main-circle-icon.icon-circle3 {
  background-position: -336px 0;
}

ul.we-different li h2 {
  margin: 24px 0 22px 0;
  text-transform: capitalize;
  font: bold 24px "KeplerStd";
  color: #171d1c;
  text-align: center;
}

ul.we-different li p {
  text-align: center;
  font-family: "ProximaNova";
  line-height: 23px;
  color: #454851;
}

section.message {
  height: 567px;
  background: url(../../img/pre-footer.jpg) no-repeat center center/cover;
}

div.message-main {
  height: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

div.send-message {
  display: inline-block;
  margin-right: 65px;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  padding: 43px 41px 40px 45px;
  background: #fff;
}

div.send-message h1 {
  margin-bottom: 12px;
  font: bold 30px "KeplerStd", sans-serif;
}

div.send-message form.send-us input {
  display: block;
  border: none;
  outline: none;
}

div.send-message form.send-us input[type="text"], div.send-message form.send-us input[type="email"] {
  padding: 30px 0 10px 5px;
  border-bottom: 1px solid #ccc;
  color: #999999;
}

div.send-message form.send-us input[type="submit"] {
  margin-top: 90px;
  padding: 15px 29px;
  font: 14px "ProximaNova", sans-serif;
  color: #fff;
  background: #f31131;
  -webkit-border-radius: 26px;
          border-radius: 26px;
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
  cursor: pointer;
}

div.send-message form.send-us input[type="submit"]:hover {
  background: #d98894;
}

footer {
  background: #171d1c;
  font-family: "ProximaNova";
  line-height: 28px;
  color: #fff;
}

footer h4 {
  text-transform: capitalize;
}

footer a {
  font-family: inherit;
  font-size: 14px;
  color: inherit;
}

section.main-footer {
  padding: 43px 65px 45px 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

section.footer-left {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

div.information {
  display: inline-block;
}

div.information a {
  display: block;
}

div.information.inf-right {
  margin-right: 34px;
}

div.information.inf-thems {
  margin-right: 68px;
}

section.footer-right {
  font-family: "ProximaNova";
  line-height: 28px;
  color: #fff;
}

section.footer-right p.contacts,
section.footer-right p.main-address {
  font-size: 14px;
}

section.footer-right p.address {
  margin-top: 37px;
}

@media screen and (max-width: 726px) {
  ul.desktop-menu {
    display: none;
  }
}

@media screen and (min-width: 726px) {
  ul.mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  section.enjoy-freedom-land {
    padding: 227px 0;
    background: url(../../img/header-img-320px.jpg) no-repeat;
  }
  section.enjoy-freedom-land h1 {
    font-size: 33px;
  }
  div.form-wrapp {
    height: 100%;
  }
  form.form-vacations {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  form.form-vacations p {
    margin-right: 0;
    margin-bottom: 20px;
    -webkit-flex-basis: 90%;
        -ms-flex-preferred-size: 90%;
            flex-basis: 90%;
  }
  section.header-vacations {
    margin-top: 55px;
  }
  section.header-vacations h1 {
    font-size: 40px;
  }
  ul.latest-vacation-img li {
    margin: 0 0 15px 0;
  }
  ul.holiday-locations {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  ul.holiday-locations li {
    width: 276px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0 0 30px 0;
  }
  ul.holiday-locations li:nth-child(3), ul.holiday-locations li:nth-child(4) {
    margin-bottom: 30px;
  }
  ul.holiday-locations li div.holiday-img {
    width: 100%;
  }
  ul.holiday-locations li div.descr-hotel {
    padding-left: 10px;
  }
  ul.holiday-locations li div.descr-hotel h1, ul.holiday-locations li div.descr-hotel p {
    text-align: center;
  }
  ul.holiday-locations li div.descr-hotel div.descr-hotel-icons {
    margin-left: 1.5rem;
  }
  ul.holiday-locations li div.descr-hotel a.descr-hotel-button {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
  ul.we-different {
    padding-bottom: 0;
  }
  ul.we-different li {
    margin-bottom: 20px;
  }
  section.message {
    background: url(../../img/pre-footer320px.jpg) no-repeat;
  }
  div.message-main {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.send-message {
    margin-right: 0;
    padding: 40px 20px;
  }
  div.send-message form.send-us input[type="submit"] {
    width: 200px;
    margin: 50px auto;
  }
  section.main-footer {
    padding: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.footer-left div {
    margin-top: 20px;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  section.enjoy-freedom-land {
    padding: 227px 0;
    background: url(../../img/header-img-480px.jpg) no-repeat;
  }
  section.enjoy-freedom-land h1 {
    font-size: 33px;
  }
  div.form-wrapp {
    height: 100%;
  }
  form.form-vacations {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  form.form-vacations p {
    margin-right: 0;
    margin-bottom: 20px;
    -webkit-flex-basis: 90%;
        -ms-flex-preferred-size: 90%;
            flex-basis: 90%;
  }
  section.header-vacations {
    margin-top: 55px;
  }
  section.header-vacations h1 {
    font-size: 40px;
  }
  ul.latest-vacation-img {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  ul.latest-vacation-img li {
    margin: 0 0 15px 0;
  }
  ul.holiday-locations {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  ul.holiday-locations li {
    width: 276px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0 0 30px 0;
  }
  ul.holiday-locations li:nth-child(3), ul.holiday-locations li:nth-child(4) {
    margin-bottom: 30px;
  }
  ul.holiday-locations li div.holiday-img {
    width: 100%;
  }
  ul.holiday-locations li div.descr-hotel {
    padding-left: 10px;
  }
  ul.holiday-locations li div.descr-hotel h1, ul.holiday-locations li div.descr-hotel p {
    text-align: center;
  }
  ul.holiday-locations li div.descr-hotel div.descr-hotel-icons {
    margin-left: 1.5rem;
  }
  ul.holiday-locations li div.descr-hotel a.descr-hotel-button {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
  ul.we-different {
    padding-bottom: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  ul.we-different li {
    margin-bottom: 20px;
  }
  section.message {
    background: url(../../img/pre-footer-480px.jpg) no-repeat;
  }
  div.message-main {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.send-message {
    margin-right: 0;
    padding: 40px 20px;
  }
  div.send-message form.send-us input[type="submit"] {
    width: 200px;
    margin: 50px auto;
  }
  section.main-footer {
    padding: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.footer-left {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.footer-left div {
    margin-top: 20px;
  }
}

@media screen and (min-width: 481px) and (max-width: 600px) {
  section.enjoy-freedom-land {
    padding: 227px 0;
    background: url(../../img/header-img-600px.jpg) no-repeat;
  }
  section.enjoy-freedom-land h1 {
    font-size: 33px;
  }
  div.form-wrapp {
    height: 100%;
  }
  section.header-vacations {
    margin-top: 55px;
  }
  section.header-vacations h1 {
    font-size: 40px;
  }
  ul.latest-vacation-img {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  ul.latest-vacation-img li {
    margin: 0 0 15px 0;
  }
  ul.holiday-locations {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  ul.holiday-locations li {
    width: 276px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0 0 30px 0;
  }
  ul.holiday-locations li:nth-child(3), ul.holiday-locations li:nth-child(4) {
    margin-bottom: 30px;
  }
  ul.holiday-locations li.thalie, ul.holiday-locations li.casa-del-agua {
    margin-right: 1rem;
  }
  ul.holiday-locations li div.holiday-img {
    width: 100%;
  }
  ul.holiday-locations li div.descr-hotel {
    padding-left: 10px;
  }
  ul.holiday-locations li div.descr-hotel h1, ul.holiday-locations li div.descr-hotel p {
    text-align: center;
  }
  ul.holiday-locations li div.descr-hotel div.descr-hotel-icons {
    margin-left: 1.5rem;
  }
  ul.holiday-locations li div.descr-hotel a.descr-hotel-button {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
  ul.we-different {
    padding-bottom: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  ul.we-different li {
    margin-bottom: 20px;
  }
  section.message {
    background: url(../../img/pre-footer-600px.jpga) no-repeat;
  }
  div.message-main {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.send-message {
    margin-right: 0;
    padding: 40px 20px;
  }
  div.send-message form.send-us input[type="submit"] {
    width: 200px;
    margin: 50px auto;
  }
  section.main-footer {
    padding: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.footer-left {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.footer-left div {
    margin-top: 20px;
  }
}

@media screen and (min-width: 601px) and (max-width: 959px) {
  section.enjoy-freedom-land {
    background: url(../../img/header-img-960px.jpg) no-repeat;
  }
  ul.latest-vacation-img {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  ul.latest-vacation-img li {
    margin: 0 15px 15px 0;
  }
  ul.holiday-locations {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  ul.holiday-locations li:nth-child(2), ul.holiday-locations li:nth-child(4) {
    margin-right: 30px;
  }
  ul.holiday-locations li.casa-del-agua {
    margin-bottom: 30px;
  }
  ul.we-different {
    padding-bottom: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  ul.we-different li {
    margin-bottom: 20px;
  }
  section.message {
    background: url(../../img/pre-footer960px.jpg) no-repeat;
  }
  section.main-footer {
    padding: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.footer-left {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.footer-left div {
    margin-top: 20px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1139px) {
  ul.latest-vacation-img {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  ul.latest-vacation-img li {
    margin: 0 15px 15px 0;
  }
  ul.holiday-locations {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  ul.holiday-locations li:nth-child(2), ul.holiday-locations li:nth-child(4) {
    margin-right: 30px;
  }
  ul.holiday-locations li.casa-del-agua {
    margin-bottom: 30px;
  }
  ul.we-different {
    padding-bottom: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  ul.we-different li {
    margin-bottom: 20px;
  }
}
