ul.we-different {
  padding-bottom: 100px;
  justify-content: space-between;
  flex-wrap: wrap;
  li {
    flex-basis: 360px;
    div.icon-circle {

      div.main-circle-icon {
       display: block;
       margin: 0 auto;
       width: 100px;
       height: 100px;
       background: url(../../img/icons-sprites.jpg) no-repeat -132px 0;
       border-radius: 50%;
       &.icon-circle2 {background-position: -233px 0;}
       &.icon-circle3 {background-position: -336px 0;}
      }
    }
    h2 {
      margin: 24px 0 22px 0;
      text-transform: capitalize;
      font: bold 24px $kepler;
      color: $black_icon;
      text-align: center;
    }

    p{
      text-align: center;
      font-family: $proxima;
      line-height: 23px;
      color: $nav;
    }

  }
}
