footer {
  background: $black_icon;
   @include footer;
   h4 {
      text-transform: capitalize;
   }
   a {
     font-family: inherit;
     font-size: 14px;
     color: inherit;
   }
}

section.main-footer {
  padding: 43px 65px 45px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

section.footer-left {flex-wrap: wrap;}


div.information {
  display: inline-block;
  a{
    display: block;
  }
  &.inf-right {margin-right: 34px;}
  &.inf-thems {margin-right: 68px;}
}


section.footer-right {
  @include footer;
  p.contacts,
  p.main-address {
     font-size: 14px;
   }
  p.address {margin-top: 37px;}
}
