header {background: $w;}
//DESKTOP MENU START
ul.desktop-menu {
  justify-content: space-between;
  li {
    a {
      @include a;
      &.logotip {
        @include logotip;
      }
    }
  }
}
//DESKTOP MENU END

//MOBILE MENU START
ul.mobile-menu {
    position: relative;
    background: $mobile;

  }
  input#nav {display: none;}
  input#nav:checked ~ nav {left: 0;}

  a {
    text-decoration: none;
  }
  label.menuFive {
    margin: 3% !important;
  }

  nav {
    width: 70%;
    position: absolute;
    left: -100%;
    background: $mobile;
    transition: left 0.5s ease-in-out;
  }

  nav a {
    @include a;
    text-align: center;
    -webkit-transition: background 0.4s ease-in-out;
    -o-transition: background 0.4s ease-in-out;
    transition: background 0.4s ease-in-out;
    &.logotip{@include logotip;}
  }

  nav a:hover {background: rgb(45, 163, 230);}

  /* menuFive */
  .menuFive{
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }
  .menuFive span{
    background-color: $nav;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width:100%;
    height: 4px;
    transition-duration: 500ms
  }
  .menuFive span:nth-child(1){
    top:0px;
    left: 0px;
  }
  .menuFive span:nth-child(2){
    top:13px;
    left: 0px;
  }
  .menuFive span:nth-child(3){
    bottom:0px;
    left: 0px;
  }
  .menuFive:not(.clickMenuFive):hover span:nth-child(1){
    transform: rotate(-3deg) scaleY(1.1);
  }
  .menuFive:not(.clickMenuFive):hover span:nth-child(2){
    transform: rotate(3deg) scaleY(1.1);
  }
  .menuFive:not(.clickMenuFive):hover span:nth-child(3){
    transform: rotate(-4deg) scaleY(1.1);
  }
  .clickMenuFive span:nth-child(1){
    transform: rotate(45deg);
    top: 13px;

  }
  .clickMenuFive span:nth-child(2){
    transform: scale(.1);

  }
  .clickMenuFive span:nth-child(3){
    transform: rotate(-45deg);
    top: 13px;
  }

//MOBILE MENU END

//SECTION ENJOY FREEDOM LAND START
 section.enjoy-freedom-land {
   display: block;
   padding: 324px 0;
   background: url(../../img/header.jpg) no-repeat 0 0 / 100% 125%;

   h1 {
     text-transform: uppercase;
     text-align: center;
     font: bold 60px $proxima, sans-serif;
     color: $w;
   }
 }
//SECTION ENJOY FREEDOM LAND END
