//DIV FORM WRAPP START
div.form-wrapp {
  height: 160px;
  margin-top: -80px;
   //padding: 68px 0 60px 40px;
  padding-top: 40px;
   background: $w;
  }
//DIV FORM WRAPP END
// FORM START
 form.form-vacations {
   justify-content: space-around;
     p {
     flex-basis: 190px;
     margin-right: 20px;
     padding: 15px 0;
     border-bottom: 1px solid $selct;
     &:focus-within {border: 1px solid #000;}
     &:last-child {margin-right: 30px;}
     select {
       width: 100%;
       outline: none;
       border: none;
       background: url("../../img/select-bg-disable.jpg") no-repeat right center $w;
       color: $selct;
       appearance: none;
       cursor: pointer;
       &:focus {
         background: url("../../img/select-bg-enable.jpg") no-repeat right center;
         color: $nav;}
   }

   }
   button  {
     padding: 14px;
     color: $w;
     border: none;
     font-size: 30px;
     cursor: pointer;
     background: $button;
     border-radius: 50%;
     transition: background 0.5s ease;
     &:hover {background: #d98894;}
   }
 }
// FORM END

//SECTION HEADER VACATIONS START
section.header-vacations {
  margin-top: 100px;
  h1 {
    display: block;
    text-align: center;
    font: bold 48px $kepler, sans-serif;
  }

  ul.logo-icons {
    margin: 31px 0;
    display: block;
    text-align: center;
    li {
      @include icon;
      &.black-icon {
        width: 10px;
        height: 10px;
        background: $black_icon;
        border: none;
      }
      &:last-child {margin-right: 0;}
    }
  }
}
//SECTION HEADER VACATIONS END

//UL LATEST VACATION IMG START
ul.latest-vacation-img {
  flex-wrap: wrap;
  li {
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 360px;
    height: 300px;
    margin-right: 30px;
    background: url("../../img/latest-vacation-img-sprites.jpg") no-repeat 0 0;
    &:last-child {margin-right: 0;}
    &.groups {background-position: -369px 0;}
    &.city {background-position: -739px 0;}
    div.descr-img {
      width: 300px;
      margin-bottom: 30px;
      padding: 15px;
      background: $w;
      transition: background 0.5s ease;
      &:hover {background: $descr-img;}
        h2 {
        display: block;
        padding: 24px 0 22px 0;
        text-transform: capitalize;
        text-align: center;
        font: bold 24px $kepler, sans-serif;
        color: $nav;
        border: 1px solid $img-bd;
      }
    }
  }
}
//UL LATEST VACATION IMG END

//UL HOLIDAY LOCATIONS START
ul.holiday-locations {
  flex-wrap: wrap;
  li {
    position: relative;
    margin: 0 30px 30px 0;
    width: 555px;
    background: $w;
    &:nth-child(2),
    &:nth-child(4){margin-right: 0;}
    &:nth-child(3),
    &:nth-child(4) {margin-bottom: 0;}
    div.holiday-img {
      width: 50%;
      form {
        height: 300px;
        justify-content: flex-end;
        flex-direction: column;
        input {display: none;}
        input:checked + i {opacity: 1;}
        i {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 276px;
          height: 232px;
          opacity: 0;
          transition: opacity 0.5s ease;
          background: url(../../img/locations-big-sprites.jpg) no-repeat 0 0;
          &.img-loc2 {background-position: -277px 0;}
          &.img-loc3 {background-position: -555px 0;}
          &.img-loc4 {background-position: -832px 0;}
          &.img-loc5 {background-position: -1109px 0;}
          &.img-loc6 {background-position: -1386px 0;}
        }
        div.labels-for-img {
          width: 100%;
          height: 68px;
          label.button-img {
            width: 92px;
            height: 68px;
            cursor: pointer;
            background: url(../../img/locations-sprites.jpg) no-repeat 0 0;
            &.label1 {background-position: -188px 0;}
            &.label2 {background-position: -282px 0;}
          }
        }
      }
    }
    div.descr-hotel {
      position: relative;
      padding: 25px 21px 0 20px;
      h1 {
        font: bold 30px $kepler;
        color: $black_icon;
      }
      p.hotel-thalie {
        margin: 18px 0 22px 0;
        @include font;
      }
      div.descr-hotel-icons {
        cursor: pointer;
        i.bed-icon {
          width: 33px;
          height: 16px;
          background: url(../../img/icons-sprites.jpg) no-repeat 0 0;
        }
        i.bath-icon {
          width: 24px;
          height: 16px;
          background: url(../../img/icons-sprites.jpg) no-repeat -33px 0;
        }
        i.beachfront-icon {
          width: 18px;
          height: 17px;
          background: url(../../img/icons-sprites.jpg) no-repeat -74px 0;
          &:hover + div.popup {opacity: 1;}
        }
        i.pool-icon {
          width: 24px;
          height: 22px;
          margin-left: 21px;
          background: url(../../img/icons-sprites.jpg) no-repeat -95px 0;
        }

        b {
          @include font;
          margin: 0 21px 0 10px;
        }

        div.popup {
          position: absolute;
          top: 56%;
          left: 43%;
          padding: 5px 9px 5px 4px;
          background: $nav;
          opacity: 0;
          transition: opacity 0.5s ease;
          &#kapalua {top: 50%;}
          p.beachfront-popup {
            position: relative;
            font-size: 14px;
            color: $w;
            i.popup-icon {
              position: absolute;
              left: 50%;
              bottom: -10px;
              display: inline-block;
              width: 0;
              height: 0;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              border-top: 5px solid $nav;
            }
          }
        }
      }
      a.descr-hotel-button {
        display: inline-block;
        margin-top: 10px;
        padding: 15px 19px;
        text-transform: uppercase;
        @include button;
      }
    }
  }
}
//UL HOLIDAY LOCATIONS END
