
@media screen and (max-width: 320px) {
  //HEADER START
  section.enjoy-freedom-land {
    padding: 227px 0;
    background: url(../../img/header-img-320px.jpg) no-repeat;
    h1 {
      font-size: 33px;
    }
  }
  //HEADER END

  //MAIN START
     //SECTION LATEST VACATION START
     div.form-wrapp {height: 100%;}
       form.form-vacations {
         flex-wrap: wrap;
         p {
           margin-right: 0;
           margin-bottom: 20px;
           flex-basis: 90%;
         }
       }

       section.header-vacations {
         margin-top: 55px;
         h1 {
           font-size: 40px;
         }
       }

       ul.latest-vacation-img {
         li {
           margin: 0 0 15px 0;
         }
       }

       ul.holiday-locations {
         justify-content: center;
         li {
           width: 276px;
           flex-wrap: wrap;
           margin: 0 0 30px 0;
           &:nth-child(3),
           &:nth-child(4) {margin-bottom: 30px;}
           div.holiday-img {
             width: 100%;
           }
           div.descr-hotel {
             padding-left: 10px;
             h1, p {text-align: center;}
             div.descr-hotel-icons {margin-left: 1.5rem;}
             a.descr-hotel-button {
               display: block;
               margin-top: 20px;
               text-align: center;
             }
           }
         }
       }
     //SECTION LATEST VACATION END

     //SECTION WE ARE DIFFERENT START
     ul.we-different {
       padding-bottom: 0;
       li {
         margin-bottom: 20px;
         //&:last-child {margin-bottom: 0;}
       }
     }
     //SECTION WE ARE DIFFERENT END

     //SECTION MESSAGE START
     section.message {
       background: url(../../img/pre-footer320px.jpg) no-repeat;
     }
     div.message-main {justify-content: center;}
      div.send-message {
        margin-right: 0;
        padding: 40px 20px;
        form.send-us {
          input[type="submit"] {
            width: 200px;
            margin: 50px auto;
          }
        }
      }
     //SECTION MESSAGE END
  //MAIN END

  //FOOTER START
    section.main-footer {
      padding: 0;
      justify-content: center;
    }

    section.footer-left {
      div {margin-top: 20px;}
    }
  //FOOTER END
}
