section.message {
  height: 567px;
  background: url(../../img/pre-footer.jpg) no-repeat center center / cover;
}

div.message-main {
 height: 100%;
 justify-content: flex-end;
}

div.send-message {
  display: inline-block;
  margin-right: 65px;
  align-self: flex-end;
  padding: 43px 41px 40px 45px;
  background: $w;
  h1 {
    margin-bottom: 12px;
    font: bold 30px $kepler, sans-serif;
  }
  form.send-us {
    input{
      display: block;
      border: none;
      outline: none;
      &[type="text"],
      &[type="email"] {
        @include input;
      }
      &[type="submit"] {
        margin-top: 90px;
        padding: 15px 29px;
        @include button;
        cursor: pointer;
      }
    }
  }
}
