@media screen and (min-width: 960px) and (max-width: 1139px) {
  //SECTION LATEST VACATION START
   ul.latest-vacation-img {
     justify-content: center;
     li {
       margin: 0 15px 15px 0;
     }
   }

   ul.holiday-locations {
     justify-content: center;
     li {

       &:nth-child(2),
       &:nth-child(4) {margin-right: 30px;}
       &.casa-del-agua {margin-bottom: 30px;}
     }
   }
   //SECTION LATEST VACATION END

   //SECTION WE ARE DIFFERENT START
   ul.we-different {
     padding-bottom: 0;
     justify-content: center;
     li {
       margin-bottom: 20px;
       //&:last-child {margin-bottom: 0;}
     }
   }
   //SECTION WE ARE DIFFERENT END
}
