@media screen and (min-width: 601px) and (max-width: 959px) {
  //HEADER START
   section.enjoy-freedom-land {
     background: url(../../img/header-img-960px.jpg) no-repeat;
   }
  //HEADER END

  //MAIN START
   //SECTION LATEST VACATION START
    ul.latest-vacation-img {
      justify-content: center;
      li {
        margin: 0 15px 15px 0;
      }
    }

    ul.holiday-locations {
      justify-content: center;
      li {

        &:nth-child(2),
        &:nth-child(4) {margin-right: 30px;}
        &.casa-del-agua {margin-bottom: 30px;}
      }
    }
   //SECTION LATEST VACATION END

   //SECTION WE ARE DIFFERENT START
   ul.we-different {
     padding-bottom: 0;
     justify-content: center;
     li {
       margin-bottom: 20px;
       //&:last-child {margin-bottom: 0;}
     }
   }
   //SECTION WE ARE DIFFERENT END

   //SECTION MESSAGE START
   section.message {
     background: url(../../img/pre-footer960px.jpg) no-repeat;
   }
   //SECTION MESSAGE END
  //MAIN END


    //FOOTER START
      section.main-footer {
        padding: 0;
        justify-content: center;
      }

      section.footer-left {
        justify-content: center;
        div {margin-top: 20px;}
      }
    //FOOTER END
}
