@font-face {
  font-family: 'KeplerStd';
  src: url('../../fonts/KeplerStd.eot');
  src: url('../../fonts/KeplerStd.eot?#iefix') format('embedded-opentype'),
     url('../../fonts/KeplerStd.ttf') format('truetype'),
     url('../../fonts/KeplerStd.svg#KeplerStd') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PrimeScript';
  src: url('../../fonts/PrimeScript.eot');
  src: url('../../fonts/PrimeScript.eot?#iefix') format('embedded-opentype'),
     url('../../fonts/PrimeScript.ttf') format('truetype'),
     url('../../fonts/PrimeScript.svg#PrimeScript') format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'LustScript';
  src: url('../../fonts/LustScript.eot');
  src: url('../../fonts/LustScript.eot?#iefix') format('embedded-opentype'),
     url('../../fonts/LustScript.ttf') format('truetype'),
     url('../../fonts/LustScript.svg#LustScript') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../../fonts/ProximaNova.eot');
  src: url('../../fonts/ProximaNova.eot?#iefix') format('embedded-opentype'),
     url('../../fonts/ProximaNova.ttf') format('truetype'),
     url('../../fonts/ProximaNova.svg#ProximaNova') format('svg');
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: 'Baltimore'; /* Имя шрифта */
  src: url('../../fonts/baltimore-nouveau.ttf'); /* Путь к файлу со шрифтом */
 }
