@mixin logotip {
  padding: 23px 0;
  font-family: $lust !important;
  text-transform: capitalize !important;
  font-size: 36px !important;
}

@mixin a {
  display: block;
  padding: 30px 0;
  text-transform: uppercase;
  font-family: $proxima, sans-serif;
  color: $nav;
}

@mixin icon  {
  display: inline-block;
  margin-right: 9px;
  width: 7px;
  height: 7px;
  border: 2px solid $icon;
  transform: rotate(44deg);
}

@mixin font {
  font-family: $proxima;
  color: $nav;
}

@mixin input {
  padding: 30px 0 10px 5px;
  border-bottom: 1px solid $img-bd;
  color: $selct;
}

@mixin button {
  font: 14px $proxima, sans-serif;
  color: $w;
  background: $button;
  border-radius: 26px;
  transition: background 0.3s ease;
  &:hover {background: $button-hover;}
}

@mixin footer {
 font-family: $proxima;
 line-height: 28px;
 color: $w;
}
