//FONTS
$kepler: 'KeplerStd';
$prime: 'PrimeScript';
$proxima: 'ProximaNova';
$baltimore: 'Baltimore';
$lust: 'LustScript';



//COLORS
$nav: #454851;
$mobile: #85c8dc;
$w: #fff;
$main: #ecf0f1;
$selct: #999999;
$button: #f31131;
$icon: #6f7474;
$black_icon: #171d1c;
$img-bd: #ccc;
$descr-img: #bdebf6;
$button-hover: #d98894;
